*{
    padding: 0;
    margin: 0;
   
}

@media (min-width: 992px) {

}

header{
    height: 70px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
}

nav{
    display: flex;
    gap: 20px;
}

ul{
    display: flex;
    list-style-type: none;
}

ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: #e5e7eb;
    display: inline-block;
    
}

.Logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    font-family: sans-serif;
}

.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.secondary{
    padding-top: 10px 0;
}
.secondary ,.header-links{
    font-size: 18px;
    color: #e5e7eb;

}

.s1{
    background-color: #1f2937;
    height: calc(90vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12%;
    gap: 50px;
    font-family: sans-serif;
    
}

.content-right img{
    display: flex;
    width: 500px;
    height: 260px;
    flex-shrink: 2;
}

.btn{
    padding: 10px 16px;
    color: #e5e7eb;
    font-weight: 700;
    background-color: #3882f6;
    border: none;
    border-radius: 7px;
    margin: 20px 0;    
    transition: background-color 0.5s ease;
}

.btn:hover{
        background-color: #2a5aa8;
}

 li a::after{
    content: '';
    height: 5px;
    width: 0;
    background: #3882f6;
    transition: all .5s;
    display: block;
}

li a:hover::after{
    width: 100%;
}

.s2{
    height: 90vh;
    justify-content: center;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.s2-title{
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 1em 0;
    text-align: center;
}

.blue-box{
    border-radius: 25px;
    border: 4px solid #3882f6;
    padding: 20px;
    width: 120px;
    height: 120px;
    
}

.row-blue-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 22%;
    gap: ;
}

.blue-box-msg{
    text-align: center;
}

.p2{
    color: #3f4146;
    font-size: 18px;
    margin-top: 5px;
}

.s3{
    background-color: #e5e7eb;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.quote-text{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 100;
}

.quote-auth{
    font-weight: bolder;
    font-size: 25px;
    text-align: right;
    font-family: sans-serif;
}

.s3-main{
    margin: 0 22%;
}

.s4{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s4-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
    width: 60em;
    border-radius: 10px;
    background-color: #3882f6;
}

.sign-up{
    padding: 10px 20px;
    background-color: #3882f6;
    border-color: #e5e7eb;
    border-radius: 5px;
    color: #e5e7eb;
    font-weight: bold;
    font-family: sans-serif;
    font-size: large;
    border-style: solid;
}

.left-text-head , .left-text-para{
    color: #e5e7eb;
    font-family: sans-serif;
}

.left-text-para{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}

footer{
    height: 15vh;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text{
    color: #f9faf8;
    font-size: large;
    font-family: sans-serif;
}